* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html.fullscreen {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 140%;
  font-size: 11pt;
}

.fullscreen body {
  overflow: hidden;
}

.scroll body {
  overflow: auto;
}

.fullscreen #map {
  height: 100%;
}

.scroll #map {
  height: 250px;
}

.logo {
  position: absolute;
  left: 15px;
  width: 130px;
  height: 40px;
  opacity: 0.9;
  z-index: 1000; /* just for IE and for OpenLayers */
}

.fullscreen .logo {
  bottom: 15px;
}

.scroll .logo {
  top: 195px;
}

.header {
  background-color: rgba(255,255,255,0.75);
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 15px;
  width: 100%;
  z-index: 1000; /* just for IE and for OpenLayers */
}

#search {
  width: 250px;
  border: 1px solid #cccccc;
  padding: 5px;
}

form {
  margin:0;
  padding:0;
  display:inline;
}

#options {
  display: none;
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
}

#navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

#navigation li {
  display: inline;
  margin-left: 20px;
  padding: 0;
}

#navigation a:link, #navigation a:visited {
  color: #000000;
  font-size: 10pt;
  text-shadow: 0 1px 0 white;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

.content {
  padding: 20px 15px;
}

.content li {
  line-height: 170%;
}

img {
  border: 0;
}

h1 {
  color: #993333;
  letter-spacing: -1px;
  font-size: 20pt;
  font-weight: normal;
}

h2 {
  color: #996633;
  letter-spacing: -1px;
  font-size: 16pt;
  font-weight: normal;
  margin: 30px 0 10px 0;
}


legend {
  color: #999999;
  margin-top: 20px;
}
code {
  white-space: pre;
  display: inline-block;
  width: 680px;
  max-height: 80px;
  margin: 5px 0 20px 0;
  padding: 10px;
  overflow: auto;
  font-size: 9pt;
  border: 1px solid #ccc;
  max-height: 300px;
  background-color: #eeeeee;
}

.colorset {
  display: inline-block;
  margin-right: 20px;
}

.colorset button {
  width: 50px;
  height: 18px;
  border: 1px solid #999;
  cursor: pointer;
}

textarea {
  width: 680px;
  height: 300px;
}


.leaflet-container .leaflet-control-attribution {
  background-color: transparent;
  box-shadow: none;
  white-space: nowrap;
}

.leaflet-left .leaflet-control {
  margin-left: 15px;
}

.leaflet-top .leaflet-control {
  margin-top: 50px;
}

.olControlAttribution {
  bottom: 5px !important;
}

.olControlLayerSwitcher {
  top: 45px !important;
}



@media screen and (max-width: 750px) {
  .header {
    padding: 5px 35px 5px 10px;
  }
  #navigation {
    display: none;
    margin-top: 10px;
  }
  #navigation li {
    display: block;
    margin: 10px 0;
  }
  #options {
    display: inline;
  }
  #search {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    width: 98px;
    height: 30px;
    left: 10px;
    bottom: 10px;
  }
  .leaflet-container .leaflet-control-attribution {
    display: none;
  }
}


