extends layout

block content
  div(id="map")
  script.
      var mapOptions = {
        type: 'OpenLayers',
        loadData: false
      };

      document.addEventListener('DOMContentLoaded', function() {
        Map.init(mapOptions);

        Map.onInteraction = function() {
          Navigation.hideMenu();
        };

        Search.onResult = function(item) {
          Map.setState({ lat:item.lat, lon:item.lng, zoom:16 });
        };

        Search.onInteraction = function() {
          Navigation.hideMenu();
        };
      });